<div class='container'>
  <div class='container-chatroom'>
    <div class='chatroom-name'>
      <% @chatrooms.each do |chatroom| %>
        <%= link_to "#{chatroom.name}", chatroom_path(chatroom), class: "list-group-item #{'active' if chatroom == @chatroom}" %>
      <% end %>
    </div>
        
    <div class='chatbox'>
      <div class='chatbox-name'>
        <h3><%= @chatroom.name %></h3>
      </div>
      <div class="message" data-chatroom-id="<%= @chatroom.id %>">
        <% @chatroom.messages.each do |message| %>
          <%= render "messages/message", message: message %>
        <% end %>
      </div>
      <div class='message-form'>
        <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
          <%= f.input :content, label: false, placeholder: "Message ##{@chatroom.name}" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
    