<div class="banner">
</div>
<div class="pictogramme">
        <p> À la recherche de <strong>surprise</strong> et <strong>d'inattendu</strong> avec tes potes ? Partez à l'aventure grâce <strong> Live your Trip ! </strong> </p>
      </div>

<div class="container">
  <%= form_tag offers_path, method: :get do %>
  <div class ="my-search-bar">
  <%= text_field_tag :city,
    params[:city],
    class: "form-control",
    placeholder: "Ville"
 %>

  <%= date_field_tag :arrival,
    params[:arrival],
    class: "form-control",
    placeholder: "Date d'arrivée"
 %>

  <%= time_field_tag :hours,
    params[:hours],
    class: "form-control",
    placeholder: "Durée"
 %>

  <%= select_tag :theme,
    options_for_select(Offer::THEME),
    class: "form-control",
    placeholder: "Theme"
 %>

  <%= number_field_tag :price,
    params[:price],
    class: "form-control",
    placeholder: "Budget"
 %>
  <%= number_field_tag :placenumber,
    params[:placenumber],
    class: "form-control",
    placeholder: "Voyageur"
  %>

  <%= submit_tag "Search", class: "kaki-btn-search" %>
  </div>
<% end %>
</div>

  <div class="container">
    <div class="img-home">
      <div class="text-img">
        <%= image_tag("fun.svg", :alt => "picto") %>
        <p> Du fun </p>
      </div>
      <div class="text-img">
        <%= image_tag("people.svg", :alt => "picto") %>
        <p> Des rencontres </p>
      </div>
      <div class="text-img">
        <%= image_tag("valises.svg", :alt => "picto") %>
        <p> Une expérience unique </p>
      </div>
    </div>
   </div>
</div>
