<div class="banner">
  
</div>



  <div class="container">
    <div class="pictogramme" >
      <h2 class="mb-5"> Tu cherches </h2>
    </div>
    <div class="img-home">
      <div class="text-img">
        <%= image_tag("fun.png", :alt => "picto") %>
        <p> Du fun </p>
      </div>
      <div class="text-img">
        <%= image_tag("fun.png", :alt => "picto") %>
        <p> Des rencontres </p>
      </div>
      <div class="text-img">
        <%= image_tag("fun.png", :alt => "picto") %>
        <p> Une expérience unique </p>
      </div>
    </div>
      <div class="pictogramme">
        <p> Prends ton sac 🎒 </p>
         
    
      </div>
  </div>


  <div class="searchbar">
    <%= form_for :search_by_title_and_address, :class => "d-flex", :url => {:controller => 'offers', :action => 'index'}, :html => {:method => 'get'} do |f| %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Ville de départ"
      %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Dates"
      %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Thème"
      %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Budget"
      %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Nb de personnes"
      %>
      <%= submit_tag "Search"%>
    <% end %>
  </div>

