<div class="banner">
  <div class="container">
    <a class="orange-btn" href="#">Apply now</a>
  </div>
</div>

<div class="container" style="margin-top: 250px;">
  <p>Scroll to see the navbar change.</p>
 <a class="kaki-btn" href="test">test </a>
<a class="orange-btn" href="test">test </a>
</div>

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

  <div class="searchbar">
    <%= form_for :search_by_title_and_address, :class => "d-flex", :url => {:controller => 'offers', :action => 'index'}, :html => {:method => 'get'} do |f| %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Ville de départ"
      %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Dates"
      %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Thème"
      %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Budget"
      %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Nb de personnes"
      %>
      <%= submit_tag "Search"%>
    <% end %>
  </div>

