
<div class="container">
<h1>Bonjour <%= current_user.first_name %> ! </h1>
  <div class="profile">
  <p> Nom : <%= current_user.last_name %>
  <br>
  Prénom : <%= current_user.first_name %></p>
  <br>
  <p> Email : <%= current_user.email %></p>
  <p> Êtes-vous guide ? <%if current_user.guide == true %>
  <%= "Oui" %>
  <% else%>
  <%= "Non" %>
  <% end %>
</p>
  </div>
</div>
