<h1><%= @user.first_name %></h1>

<%# reservation faites %>
<h1>Vos réservations</h1>
<p><%= "Vous n'avez pas fait de réservation" if @reservation_requests.empty?%></p>
<% @reservation_requests.each do |reservation| %>
  <li>
    <p>Votre réservation: <%= reservation.offer.title %>, à <%= reservation.offer.city %></p>
    <p>Du <%= reservation.arrival %> au <%= reservation.departure %></p>
    <p>Nombre de voyageurs <%= reservation.participant %></p>
    <p><%= link_to 'Voir détails', reservation_path(reservation) %></p>
    <p><%= link_to 'Modifier', edit_reservation_path(reservation) %></p>
    <p><%= link_to 'Annuler', reservation_path(reservation), method: :delete, data: {confirm: 'Are you sure?'}, class: "red-btn" %></p>
  </li>
<% end %>


<%# réservations pour un guide %>


<p><%= "Ils vous ont réservés en tant que guide pour : " if @reservation_demands.present? %></p>
  <% @reservation_demands.each do |reservation| %>
    <li>
      <p><%= reservation.offer.title %>, à <%= reservation.offer.city %></p>
      <p><%= reservation.user.first_name %> <%= reservation.user.last_name %></p>
      <p>Du <%= reservation.arrival %> au <%= reservation.departure %></p>
      <p>Nombre de voyageurs <%= reservation.participant %></p>
    
      <p><%= link_to 'Annuler', reservation_path(reservation), method: :delete, data: {confirm: 'Are you sure?'}, class: "red-btn" %></p>
    </li>
  <% end %>