<% @reviews.each do |review| %>
    <div class="col-xs-12">
      <div class="card">
    <div class="profile-user-review">
  <%= cl_image_tag(review.user.photo.key) %>
  <h5><%= review.user.first_name %></h5>
  <div class="name">
          <p><%= review.rating ? "â­" * review.rating : "Pas de note" %></p>
          <p><strong><%= review.visiting_date %></strong></p>
          </div>
 </div>
          <div class="content">
          <p><%= review.content %></p>
          </div>
      </div>
    </div>
  <% end  %>
