<h1> All our Offers </h1>
<% @offers.each do | offer | %>
    <h3><%=offer.title%> <%= "avec" %> <%=offer.user.first_name%> <%= "à" %> <%= offer.city %></h3>
   <p><%= offer.theme %></p>
   <%=link_to "See More", offer_path(offer) %>
<% end %>
<%= link_to "Back", root_path %>
