<div class="container">
<div class ="offers">
<h1><%= @offer.title %></h1>

<p><%= @offer.city %></p></div>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "slide.jpg", class: "d-block w-100", id: "slide1" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "slide.jpg", class: "d-block w-100", id: "slide2" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "slide.jpg", class: "d-block w-100", id: "slide3" %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="user">
blablabla
</div>
<div class= "details">
<div class="description">
 <p>Durée de la visite<%= @offer.hours %></p>
<h2> <%= @offer.description %> </h2>
</div>
<div class ="reservations">
<p><%= @offer.user.rating_number %> <%= @offer.user.rating_content %></p>
<p> date </p>
<%= link_to "Réserver", new_offer_reservation_path(@offer), class: "orange-btn" %>
<%= link_to "edit", edit_offer_path, class: "orange-btn" %>
</div>
</div>
</div>
</div>

<%= link_to "Précédent", offers_path(@offers) %>
