<%= simple_form_for [@offer, @review] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">
    <div class="my-3">
      <p>Notez-le !</p>
      <% Review::AUTHORIZED_RATINGS.each do |index| %>
        <i id="<%= index %>" class="review-rating far fa-star"></i>
      <% end %>
    </div>
    <%= f.input :rating, as: :hidden  %>
    <%= f.input :content, label: 'Commentaire'%>
  </div>
  <div class="form-actions d-flex justify-content-center">
    <%= f.button :submit, 'Laisser votre avis !', class:"btn orange-btn d-inline-block" %>
  </div>
<% end %>